<template name="leaderboard">
  <ul>
    {{#each player}}
      <li class="player {{selectedClass}}">{{name}}: {{score}}</li>
    {{/each}}

    {{#if playerSelected}}
    <input type="button" class="increment" value="Give 5 Points">
    {{/if}}

    <input type="button" class="decrement" value="Take 5 Points">
    <input type="button" class="remove" value="Remove Player">

    {{#if showSelectedPlayer}}
      <li>Selected player: {{showSelectedPlayer.name}}</li>
    {{/if}}
  </ul>
</template>
